.container {
  margin-bottom: 7%;
}

.jumbotron {
  text-align: center;
}

.show-results-design {
  display: none;
}

.show-results-ruby {
  display: none;
}

.show-results-c-sharp {
  display: none;
}

.result-text {
  text-align: center;
  margin: 0 5%;
}

#ruby-img {
    display: none;
}

#design-img {
  display: none;
}
#c-img {
  display: none;
}
