.container {
  margin-bottom: 7%;
  background-image: url("../img/bkg.png");
  padding-bottom: 7%;
}

.jumbotron {
  text-align: center;
  background-image: url("../img/track-bkg.png");
  color: #186290;
}

.jumbotron p{
  color: white;
}

.result-col {
  margin-left: 3%;
  margin-top: 6%;
}

.survey-col {
  margin-left: 3%;
  background-color: rgba(238, 134, 84, 0.19);
  padding: 2%;
}

.survey-col h4 {
  padding-top: 2%
}

.show-results-design {
  display: none;
}

.show-results-ruby {
  display: none;
}

.show-results-c-sharp {
  display: none;
}

.result-text {
  text-align: center;
  margin: 0 5%;
}

#ruby-img {
    display: none;
}

#design-img {
  display: none;
}
#c-img {
  display: none;
}
